mixin user_select_list(users, selected, type)
    select.form-control.J_user-selector.chosen-select-index
        option(value="/") 全部
        each user in users 
            if user.position === type
                if selected == user.userId
                    option(value="/user/#{user['userId']}", selected) #{user.name}
                else
                    option(value="/user/#{user['userId']}") #{user.name}

extend base
block content
    if locals.current_user && locals.current_user.position == 0
        .leader-opt
            .layout
                h3#newProjFeed.new-project-feed-btn.left 新任务 
                    span #{newCount.count}
                a.right.btn.btn-primary(href="/task/create") 新建任务
    - var url_prefix = flag
    .layout.index-page
        #indexTaskContainer.index-main
            if progressTask.length
                ul.task-list
                    each task, index in progressTask
                        - var now = moment().valueOf()
                        - var taskStartTime        = task['departStartDate']
                        - var deparEndtTime        = task['departEndDate']
                        - var taskEndtTime         = task['realEndDate']

                        - var expectDays           = task['UDexpectDate']+task['UIexpectDate']+task['FEexpectDate']
                        - var departExpectDays     = calc_workday(deparEndtTime, taskStartTime)
                       
                        - var pastDays = calc_workday(now, taskStartTime)

                        - var UD = task['UD']
                        - var UI = task['UI']
                        - var FE = task['FE']

                        - var UDexpectDate = task['UDexpectDate']
                        - var UIexpectDate = task['UIexpectDate']
                        - var FEexpectDate = task['FEexpectDate']

                        - var UDStartDate = task['UDStartDate']
                        - var UIStartDate = task['UIStartDate']
                        - var FEStartDate = task['FEStartDate']
                        - var zero_day    = '0000-00-00'


                        - var len_user = 0
                        - var len_expectDay = 0

                        each val in [UD, UI, FE]
                            if val
                               - len_user += 1

                        each val in [UDexpectDate, UIexpectDate, FEexpectDate]
                            if val != 0
                               - len_expectDay += 1

                        if len_user != len_expectDay
                            - expectDays = calc_workday(deparEndtTime, taskStartTime)

                        - var percent = (pastDays / expectDays)*100

                        mixin task_user()
                            - var types = ['UD', 'UI', 'FE']
                            - var users = locals.allUsers
                            - var user_position = {'1': 'UD', '2':'UI', '3': 'FE'}
                            - var user_reviewing = false
                            - var is_progressing = false
                            each type in types
                                if task[type + 'taskStatus'] == 3
                                    - user_reviewing = true
                            ul
                                each type in types
                                    each user in users
                                        if task[type] != null && user.userId == task[type].split(',')[0]
                                            -var user_status_classes = []
                                            if task[type + 'StartDate'] !== zero_day && task[type + 'EndDate'] === zero_day
                                                - user_status_classes.push('is-working')
                                                - is_progressing = true
                                            if task[type + 'taskStatus'] == 3
                                                - user_status_classes.push('is-reviewing')
                                            if task[type + 'StartDate'] != zero_day && task[type + 'EndDate'] == zero_day
                                                li(class=user_status_classes)
                                                    unless user_reviewing
                                                        if task[type + 'expectDate'] == 0
                                                            if task[type + 'StartDate'] != zero_day && task[type + 'EndDate'] == zero_day
                                                                .avatar
                                                                    img(src="/images/users/m_#{user.userName}.png")
                                                            else if task[type + 'StartDate'] != zero_day && task[type + 'EndDate'] != zero_day
                                                                .no-evaluated 已完成
                                                            else
                                                                .no-evaluated 未评估
                                                        else 
                                                            if task[type + 'StartDate'] != zero_day && task[type + 'EndDate'] != zero_day
                                                                .no-evaluated 已完成
                                                            else if task[type + 'StartDate'] != zero_day && task[type + 'EndDate'] == zero_day
                                                                .avatar
                                                                    img(src="/images/users/m_#{user.userName}.png")
                                                            else
                                                                .no-evaluated 未开始
                                                    .name #{type==='UD'?'UE':type} #{user.name}
                            if is_progressing
                                <div style="float:left;position:relative;bottom:3px;left:10px;">进行中...</div>

                        mixin task_user_shortcut()
                            - var types = ['UD', 'UI', 'FE']
                            - var users = locals.allUsers
                            - var user_position = {'1': 'UD', '2':'UI', '3': 'FE'}
                            - var user_reviewing = false
                            ul.task-user-shortcut
                                each type in types
                                    each user in users
                                        if task[type] != null && user.userId == task[type].split(',')[0]
                                            li.name #{type==='UD'?'UE':type} #{user.name}
                                                    

                        li.task-list-item
                            a(class=(task[current_user_pos+'expectDate']==0 && task['taskState']==1)?'highlight':'', href="/task/#{task['taskId']}")
                                .task-item
                                    h3= task['taskName']
                                    if task['mainPM']
                                        - var pm = task['mainPM'].split(',')[0]
                                                if pm != '无' && pm != ''
                                                    strong(class= task['taskState']===2 || task['taskState'] === 3 ?'dim':'') #{pm}

                                    case task['taskState']
                                        when 0
                                            p.project-tips.text-center 任务未开始
                                        when 1
                                            if task['UDtaskStatus'] === 3
                                                p.project-tips.review 交互评审
                                            else if task['UItaskStatus'] === 3
                                                p.project-tips.review 视觉评审
                                            else if task['FEtaskStatus'] === 3
                                                p.project-tips.review 前端评审
                                        when 2
                                            p.project-tips.text-center 任务暂停
                                        when 3
                                            p.project-tips.text-center 任务终止
                                        when 4
                                            p.project-tips.success.text-center 任务完成

                                    if task['taskState'] == 1
                                        .task-item-bar-chart
                                            .task-item-bar-chart-inner(style="width:#{percent<100?percent:100}%", class=parseInt(percent, 10) > 100 ? 'over-time' : '')
                                                span #{Math.ceil(percent)<=100?Math.ceil(percent)+'%':'超时'}
                                        .task-item-member
                                            +task_user()
                                
                                .task-item-status
                                    .task-item-status-hd
                                        span.right 已进行 #{pastDays} 天
                                        h3 预计工期：#{departExpectDays} 天
                                        span #{moment(taskStartTime).format('MM.DD')} - #{moment(deparEndtTime).format('MM.DD')}
                                    .task-item-status-bd
                                        +task_user_shortcut()
                                        //- p 项目描述：#{task.taskIntro}
                .pagination
                    if p-1 > 0
                        a.btn.btn-default(href="?p=#{p-1}") 上一页
                    | 
                    if p < taskCount
                        a.btn.btn-default(href="?p=#{p+1}") 下一页
            else
                .no-msg-lg
                    .no-msg-lg-header 暂无任务
        .index-sub
            ul.task-counter-list
                li.task-counter-item
                    .task-progress-counter
                        a(href="/#{url_prefix}")
                            span.counter #{processCount.count}
                            p.counter-text
                                span 任务
                                | 进行中
                    .task-user-decoration
                        if flag === 'my'
                            img.user-avatar(src="/images/users/m_#{locals.current_user.userName}.png")
                            | #{locals.current_user.name}的任务
                        else
                            | #{title}
                li.task-counter-item
                    a(href="/#{url_prefix}/done")
                        p
                            strong #{accomplishCount.count}
                            span 任务完成
                li.task-counter-item.pause
                    a(href="/#{url_prefix}/stop")
                        p
                            strong #{pauseCount}
                            span 暂停/终止任务

    input#offsetNum(type="hidden", value="10")